<h2 class="page-header">Create New Poll</h2>
<form action="/users/polls" method="post">
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" name="title" placeholder="title">
  </div>
  <div class="form-group">
    <label>Choice 1</label>
    <input type="text" class="form-control" name="choice1" placeholder="choice #1">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
